

$lightSage: #C3DAB7;
$white: #FFFFFF;
$whiteTwo: #F6F6F6;

/*suitable grey wasn't provided in color palette.
lightest grey that passes contrast check test has been 
picked to be used for grey fonts on white background 
resource used for check  colourcontrast.cc */
$accessibilityGrey: #747474;
$black: #333333;
$darkerWhiteTwo: #595959;
$greenForReply: #007c59;